/* ----------------------------
simple reset
---------------------------- */

html, body, ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: black;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td
{
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

input, textarea, select
{
	font-size: 110%;
	line-height: 1.1;
}

abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
/* End Reset - Begin Styles */

h1 {
	font-size: 160%;
}

#pageWrapper {
	width: 100%;
}

#headerWrapper {
	width: 100%;
	min-height: 150px;
	background: url("./images/headerWrapperBG.gif") repeat-x;
}

#header {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	min-height: 150px;
}

#logo img{
	float: left;
	width: 77px;
	height: 98px;
}

#logoText {
	display: inline-block;
	margin-top: 30px;
	padding-left: 30px;
	font-style: italic;
	font-weight: bold;
	font-size: 150%;
}

#subLogoText {
	font-size: 100%;
	text-indent: 45px;
	margin-top: 10px;
}
#contactUsHeader {
	float: right;
	line-height: 2.3em;
	color: #333333;
	text-align: right;
	font-size: 100%;
}

#navBar {
	clear: both;
	padding-top: 15px;
	
}

#navBar ul li {
	display: inline;
	margin-right: 75px;
}

#navBar ul li a {
	color: #333333;
}

#aboveTheFoldWrapper {
	background: url("images/featureAreaWrapperBG.gif") repeat top left;
	padding: 10px 0px;
	border-bottom: 1px solid #b6b7b2;
}

#featureAreaWrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px;
}

#featureArea{
	width: 560px;
	border: 5px solid white;
}

#faceBook {
	float: right;
	margin-top: 5px;
}

#financing {
	margin-top: 10px;
	clear: right;
	float: right;
}

#contentAreaWrapper {
	width: 100%;
	background-color: #e2e3dd;
	border: 1px solid #d5d6d2;
}

#contentArea {
	width: 960px;
	min-height: 50px;
	padding: 20px 0px;
	margin-left: auto;
	margin-right: auto;
}

#footerWrapper {
	width: 100%;
	min-height: 600px;
	background: #eeefeb;
	padding: 10px 0px;
	border-bottom: 1px solid #b6b7b2;
}

#footer {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#contactFormWrapper {
	float: right;
	width: 300px;
}

textarea {
	resize: none;
}

#contactForm input {
	font-size: 80%;
	color: #B6B7B2;
	margin-bottom: 10px;
	width: 300px;
	border: 1px solid #B6B7B2;
	height: 22px;
	padding: 5px;
}

#contactForm textarea {
	font-size: 70%;
	color: #B6B7B2;
	width: 300px;
	height: 100px;
	font-size: 80%;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	border: 1px solid #B6B7B2;
}

#btns {
	margin-top: 15px;
	clear: both;
	width: 300px;
}

#btns input {
	width: 100px;
	height: 30px;
	background: url("./images/button.gif") repeat-x;
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 20px;
	border-radius: 5px;
}

#footerOfficesWrapper {
	margin-top: 30px;
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}

#mainOffice {
    margin-left: auto;
    margin-right: auto;
    float: left;
}

#satelliteOffice {
    margin-left: auto;
    margin-right: auto;
    float: right;
}

#bottomNavWrapper {
	width: 100%;
	background-color: #e2e3dd;
}

#bottomNav {
	text-align: center;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	padding-top: 5px;
	margin-bottom: 5px;
}

#copyright {
	clear: both;
	display: block;
	text-align: center;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-bottom: 10px;
}

#bottomNav ul li {
	display: inline;
	padding-right: 10px;
	font-size: 12px;
}

.floatLeft {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
}

.floatRight {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
}

.clearLeft {
	clear: left;
}

.clearRight {
	clear: right;
}

.clearBoth {
	clear: both;
}

.cList {
	margin: 5px;
	padding: 5px;
	font-style: italic;
	font-size: 105%;
}

.cList li {
	padding-bottom: 20px;
}
#contentArea h3 {
	background-color: #B6B7B2;
	display: block;
	overflow: hidden;
}

#lasikDiagram {
	border: 1px solid black;
	margin-left: 25%;
}

#aboutEnd {
	font-weight: bold;
	text-align: center;
	font-size: 105%;
}

.gmap {
    background-color: #B6B7B2
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.staffWrapper {
	width: 940px;
	margin-bottom: 25px;
	padding: 10px 10px;
	border: 1px solid #666666;
}

.staffPicture {
	padding: 5px;
	text-align: center;
	font-size: 105%;
	font-weight: bold;
	background: white;
	border: #888888;
}

.staffTitle {
	font-weight: normal;
}

.multiple {
    max-width: 175px;
    min-height: 227px;
}

#staffName {
	display: block;
	clear: both;
}

.staffPicture img {
	margin-bottom: 5px;
	border: 1px solid #999999;

}

.staffDescription {
	padding-top: 10px;
	line-height: 1.5em;
}

.everyOther {
	background: #D5D6D2;
}

/*--------------------------------------------------
For Autoscrolling section (e.g. testimonials on homepage)
--------------------------------------------------*/


/*
  root element for the scrollable.
  when scrolling occurs this element stays still.
  */
.scrollable {

    /* required settings */
    position:relative;
    overflow:hidden;
    width: 100%;
    height: 50px;

}

/*
   root element for scrollable items. Must be absolutely positioned
   and it should have a extremely large width to accomodate scrollable
   items.  it's enough that you set the width and height for the root
   element and not for this element.
*/
.scrollable .items {
    /* this cannot be too large */
    width:20000em;
    position:absolute;
    clear:both;
}

.items div {
    float:left;
    width: 960px;
    margin-left: 5px;
    margin-right: 400px;/* any sufficiently large number will do */
}

/* single scrollable item */
.scrollable img {
    float:left;
}

/* active item */
.scrollable .active {
    border:2px solid #000;
    position:relative;
    cursor:default;
}


/*--------------------------------------------------
End autoscroll
--------------------------------------------------*/

p.indent {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}